<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600">
                        <tr>
                            <th scope="col" class=" px-6 py-4">Product id</th>
                            <th scope="col" class=" px-6 py-4">Product name</th>
                            <th scope="col" class=" px-6 py-4">Category</th>
                            <th scope="col" class=" px-6 py-4">Quantity in stock</th>
                            <th scope="col" class=" px-6 py-4">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                            <td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
                            <td class="whitespace-nowrap px-6 py-4">example</td>
                            <td class="whitespace-nowrap px-6 py-4">example</td>
                            <td class="whitespace-nowrap px-6 py-4">example</td>
                            <td class="whitespace-nowrap px-6 py-4">example</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
(click)="showUnshowAdd()">
    Add new product
</button>
<!-- This section shows only if user clicks Products button -->
<div *ngIf="showAddProduct">
    <app-add-product></app-add-product>
 </div>