<nav class="bg-sky-900 flex items-center justify-between px-4 py-2 text-2xl">
  <div class="flex items-center h-24">
      <a routerLink="/" class="flex items-center text-white font-bold">
          <img src="assets/img/logo5.png" alt="Logo" class="mr-4 mb-0 mt-0 h-24 hover:shadow-lg">
       
      </a>
  </div>
  <div class="flex items-center">
      <a routerLink="/products" class="text-white">Store</a>
      <a routerLink="/dashboard" class="text-white ml-4">Dashboard</a>
      <a routerLink="/login" class="text-white ml-4">Login</a>
      <a routerLink="/signup" class="text-white ml-4">Signup</a>
  </div>
</nav>
