<div class="flex flex-col items-center justify-center mt-8" *ngIf="images.length > 0">
    <owl-carousel-o [options]="carouselOptions">
      <ng-container *ngFor="let image of images">
        <ng-container *owlCarouselItem>
          <img [src]="image" alt="Carousel Image">
        </ng-container>
      </ng-container>
    </owl-carousel-o>
  </div>
  
  <div class="flex flex-col items-center justify-center mt-8">
    <img src="assets\img\logo5.png" alt="Logo">
    <h2 class="text-2xl font-bold mb-4">About *ng Store</h2>
    <p class="text-lg">{{ websiteDescription }}</p>
  </div>
  