<footer class="bg-sky-900 flex items-center justify-between px-4 py-2 fixed bottom-0 left-0 right-0">
    <div class="flex items-center">
      <img src="assets/img/logo5.png" alt="Logo" class="mr-4 mb-0 h-24">
      <span class="text-white">© 2023 ng Store. All rights reserved.</span>
    </div>
    <div class="flex items-center">
      <a routerLink="/privacy-policy" class="text-white">Privacy Policy</a>
      <a routerLink="/terms-of-service" class="text-white ml-4">Terms of Service</a>
    </div>
  </footer>
  