<footer class="bg-sky-900 flex items-center justify-between px-4 py-2  bottom-0 left-0 right-0">
  <div class="flex items-center">
    <img src="assets/img/logo5.png" alt="Logo" class="mr-4 mb-0 h-24">
    <span class="text-white">© 2023 ng Store. All rights reserved.</span>
  </div>
  <div class="text-center md:text-left">
    <h3 class="text-lg font-bold">Connect with Us</h3>
    <ul class="mt-4 mr-24">
      <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
      <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="#"><i class="fab fa-github"></i> Git hub</a></li>
    </ul>
  </div>
  <div class="ml-auto text-center md:text-left">
    <app-contact></app-contact>
  </div>

</footer>